:root{
    /*colors*/

    --color-text:#fff;
    --color-primary:#00FFFF;
    --color-seconadry:#19376d;
    --color-dark:#0b2447;
    --color-bg:#04152d;

    /* fonts */

    --font-roboto: "Roboto";

}
